<!DOCTYPE html>
<!--[if lt IE 10]><html class="old-id"><![endif]-->
<!--[if gte IE 10]>-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title> 
</head>
<body>  
    <h1>Hello!</h1>
</body>
</html>
